.tablero-card {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 10px;
  background-size: cover;
  border-radius: 12px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  display: inline-block;
  vertical-align: top;
}

.tablero-card .nombre-jugador {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: bold;
}

.tablero-card .btn {
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
