.tablero-usuario {
  z-index: -1;
  position: absolute;
  top: -32px;
  left: 10%;
  background: transparent;
  color: #ffffff;
  padding: 8px 20px;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.barra_puntos {
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid #4caf50;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
  width: 140px;
  text-align: center;
  padding: 10px;
  z-index: 1000;
}

.barra_inferior {
  width: 450px;
  margin: 10px;
  padding: 6px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid #4caf50;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  gap: 6px;
}

.barra_dado {
  width: 100px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid #4caf50;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
}

.casilla {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2px;
  .ficha {
    width: 30px;
    height: 30px;
    object-fit: contain;
  }
}

.casilla_simple {
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  /*
  border: 2px dashed red;
  */
  border: 2px dashed transparent;
  .ficha {
    width: 70px;
    height: 70px;
    object-fit: contain;
  }
}

.casilla_compuesta {
  position: absolute;
  width: 160px;
  height: 100px;
  /*
  border: 2px dashed red;
  */
  border: 2px dashed transparent;
}

.casilla_rio {
  position: absolute;
  flex-direction: column-reverse;
  width: 70px;
  height: 450px;
  /*
  border: 2px dashed rgb(46, 136, 209);
  */
  border: 2px dashed transparent;
}

.casilla_amor {
  position: absolute;
  flex-wrap: wrap;
  width: 160px;
  height: 100px;
  /*
  border: 2px dashed red;
  */
  border: 2px dashed transparent;
}

.dado {
  width: 60px;
  transition: transform 0.25s;
  cursor: pointer;
}
.dado:hover {
  transform: scale(1.1);
}

.ficha {
  width: 60px;
  object-fit: contain;
  user-select: none;
  transition: transform 0.25s;
}
.ficha:hover {
  transform: scale(1.25);
}
